<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mybatis.dao.ImgImageMapper">
  <resultMap id="BaseResultMap" type="com.ecommerce.mybatis.pojo.ImgImage">
    <id column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="type_cd" jdbcType="CHAR" property="typeCd" />
    <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
    <result column="entity_cd" jdbcType="VARCHAR" property="entityCd" />
    <result column="seq_no" jdbcType="INTEGER" property="seqNo" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="call_cnt" jdbcType="INTEGER" property="callCnt" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sts_cd" jdbcType="CHAR" property="stsCd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    img_id, name, width, height, uri, type_cd, entity_id, entity_cd, seq_no, created_by, 
    creation_date, last_update_by, last_update_date, call_cnt, remark, sts_cd
  </sql>
  <select id="selectByExample" parameterType="com.ecommerce.mybatis.pojo.ImgImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from img_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from img_image
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from img_image
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecommerce.mybatis.pojo.ImgImageExample">
    delete from img_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecommerce.mybatis.pojo.ImgImage">
    insert into img_image (img_id, name, width, 
      height, uri, type_cd, entity_id, 
      entity_cd, seq_no, created_by, 
      creation_date, last_update_by, last_update_date, 
      call_cnt, remark, sts_cd
      )
    values (#{imgId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, 
      #{height,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{typeCd,jdbcType=CHAR}, #{entityId,jdbcType=VARCHAR}, 
      #{entityCd,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{callCnt,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecommerce.mybatis.pojo.ImgImage">
    insert into img_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        img_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="typeCd != null">
        type_cd,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="entityCd != null">
        entity_cd,
      </if>
      <if test="seqNo != null">
        seq_no,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
      <if test="callCnt != null">
        call_cnt,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="stsCd != null">
        sts_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="typeCd != null">
        #{typeCd,jdbcType=CHAR},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityCd != null">
        #{entityCd,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ecommerce.mybatis.pojo.ImgImageExample" resultType="java.lang.Long">
    select count(*) from img_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update img_image
    <set>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.uri != null">
        uri = #{record.uri,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCd != null">
        type_cd = #{record.typeCd,jdbcType=CHAR},
      </if>
      <if test="record.entityId != null">
        entity_id = #{record.entityId,jdbcType=VARCHAR},
      </if>
      <if test="record.entityCd != null">
        entity_cd = #{record.entityCd,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null">
        seq_no = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null">
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null">
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null">
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callCnt != null">
        call_cnt = #{record.callCnt,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.stsCd != null">
        sts_cd = #{record.stsCd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update img_image
    set img_id = #{record.imgId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      uri = #{record.uri,jdbcType=VARCHAR},
      type_cd = #{record.typeCd,jdbcType=CHAR},
      entity_id = #{record.entityId,jdbcType=VARCHAR},
      entity_cd = #{record.entityCd,jdbcType=VARCHAR},
      seq_no = #{record.seqNo,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      sts_cd = #{record.stsCd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecommerce.mybatis.pojo.ImgImage">
    update img_image
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="typeCd != null">
        type_cd = #{typeCd,jdbcType=CHAR},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityCd != null">
        entity_cd = #{entityCd,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        call_cnt = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        sts_cd = #{stsCd,jdbcType=CHAR},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecommerce.mybatis.pojo.ImgImage">
    update img_image
    set name = #{name,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      type_cd = #{typeCd,jdbcType=CHAR},
      entity_id = #{entityId,jdbcType=VARCHAR},
      entity_cd = #{entityCd,jdbcType=VARCHAR},
      seq_no = #{seqNo,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      sts_cd = #{stsCd,jdbcType=CHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <delete id="deleteProductImageByList">
    delete from
    img_image
    where entity_id in
    <foreach collection="proIds" item="proId" open="(" separator="," close=")">
      #{proId, jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>