<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mybatis.dao.PckPackageInfoMapper">
  <resultMap id="BaseResultMap" type="com.ecommerce.mybatis.pojo.PckPackageInfo">
    <id column="pck_id" jdbcType="INTEGER" property="pckId" />
    <result column="war_id" jdbcType="INTEGER" property="warId" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="type_cd" jdbcType="CHAR" property="typeCd" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_updete_date" jdbcType="TIMESTAMP" property="lastUpdeteDate" />
    <result column="call_cnt" jdbcType="INTEGER" property="callCnt" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sts_cd" jdbcType="CHAR" property="stsCd" />
    <result column="heavy_cargo" jdbcType="VARCHAR" property="heavyCargo" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pck_id, war_id, pro_id, type_cd, width, height, length, weight, created_by, creation_date, 
    last_update_by, last_updete_date, call_cnt, remark, sts_cd, heavy_cargo, logistics_company
  </sql>
  <select id="selectByExample" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pck_package_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pck_package_info
    where pck_id = #{pckId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pck_package_info
    where pck_id = #{pckId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfoExample">
    delete from pck_package_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfo">
    insert into pck_package_info (pck_id, war_id, pro_id, 
      type_cd, width, height, 
      length, weight, created_by, 
      creation_date, last_update_by, last_updete_date, 
      call_cnt, remark, sts_cd, 
      heavy_cargo, logistics_company)
    values (#{pckId,jdbcType=INTEGER}, #{warId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, 
      #{typeCd,jdbcType=CHAR}, #{width,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, 
      #{length,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, #{createdBy,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdeteDate,jdbcType=TIMESTAMP}, 
      #{callCnt,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{stsCd,jdbcType=CHAR}, 
      #{heavyCargo,jdbcType=VARCHAR}, #{logisticsCompany,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfo">
    insert into pck_package_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pckId != null">
        pck_id,
      </if>
      <if test="warId != null">
        war_id,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="typeCd != null">
        type_cd,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdeteDate != null">
        last_updete_date,
      </if>
      <if test="callCnt != null">
        call_cnt,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="stsCd != null">
        sts_cd,
      </if>
      <if test="heavyCargo != null">
        heavy_cargo,
      </if>
      <if test="logisticsCompany != null">
        logistics_company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pckId != null">
        #{pckId,jdbcType=INTEGER},
      </if>
      <if test="warId != null">
        #{warId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null">
        #{typeCd,jdbcType=CHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdeteDate != null">
        #{lastUpdeteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        #{stsCd,jdbcType=CHAR},
      </if>
      <if test="heavyCargo != null">
        #{heavyCargo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfoExample" resultType="java.lang.Long">
    select count(*) from pck_package_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pck_package_info
    <set>
      <if test="record.pckId != null">
        pck_id = #{record.pckId,jdbcType=INTEGER},
      </if>
      <if test="record.warId != null">
        war_id = #{record.warId,jdbcType=INTEGER},
      </if>
      <if test="record.proId != null">
        pro_id = #{record.proId,jdbcType=INTEGER},
      </if>
      <if test="record.typeCd != null">
        type_cd = #{record.typeCd,jdbcType=CHAR},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=DECIMAL},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=DECIMAL},
      </if>
      <if test="record.length != null">
        length = #{record.length,jdbcType=DECIMAL},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null">
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null">
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdeteDate != null">
        last_updete_date = #{record.lastUpdeteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callCnt != null">
        call_cnt = #{record.callCnt,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.stsCd != null">
        sts_cd = #{record.stsCd,jdbcType=CHAR},
      </if>
      <if test="record.heavyCargo != null">
        heavy_cargo = #{record.heavyCargo,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticsCompany != null">
        logistics_company = #{record.logisticsCompany,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pck_package_info
    set pck_id = #{record.pckId,jdbcType=INTEGER},
      war_id = #{record.warId,jdbcType=INTEGER},
      pro_id = #{record.proId,jdbcType=INTEGER},
      type_cd = #{record.typeCd,jdbcType=CHAR},
      width = #{record.width,jdbcType=DECIMAL},
      height = #{record.height,jdbcType=DECIMAL},
      length = #{record.length,jdbcType=DECIMAL},
      weight = #{record.weight,jdbcType=DECIMAL},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_updete_date = #{record.lastUpdeteDate,jdbcType=TIMESTAMP},
      call_cnt = #{record.callCnt,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      sts_cd = #{record.stsCd,jdbcType=CHAR},
      heavy_cargo = #{record.heavyCargo,jdbcType=VARCHAR},
      logistics_company = #{record.logisticsCompany,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfo">
    update pck_package_info
    <set>
      <if test="warId != null">
        war_id = #{warId,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null">
        type_cd = #{typeCd,jdbcType=CHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdeteDate != null">
        last_updete_date = #{lastUpdeteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callCnt != null">
        call_cnt = #{callCnt,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="stsCd != null">
        sts_cd = #{stsCd,jdbcType=CHAR},
      </if>
      <if test="heavyCargo != null">
        heavy_cargo = #{heavyCargo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where pck_id = #{pckId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecommerce.mybatis.pojo.PckPackageInfo">
    update pck_package_info
    set war_id = #{warId,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=INTEGER},
      type_cd = #{typeCd,jdbcType=CHAR},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      length = #{length,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL},
      created_by = #{createdBy,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_updete_date = #{lastUpdeteDate,jdbcType=TIMESTAMP},
      call_cnt = #{callCnt,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      sts_cd = #{stsCd,jdbcType=CHAR},
      heavy_cargo = #{heavyCargo,jdbcType=VARCHAR},
      logistics_company = #{logisticsCompany,jdbcType=VARCHAR}
    where pck_id = #{pckId,jdbcType=INTEGER}
  </update>
  <delete id="deletePackageInfoByList">
    delete from
    pck_package_info
    where pro_id in
    <foreach collection="proIds" item="proId" open="(" separator="," close=")">
      #{id, jdbcType=INTEGER}
    </foreach>
  </delete>
</mapper>