<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mybatis.dao.WaaWalletAccountMapper">
  <resultMap id="BaseResultMap" type="com.ecommerce.mybatis.pojo.WaaWalletAccount">
    <id column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="available_money" jdbcType="DECIMAL" property="availableMoney" />
    <result column="depositing_money" jdbcType="DECIMAL" property="depositingMoney" />
    <result column="withdrawing_money" jdbcType="DECIMAL" property="withdrawingMoney" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="auto_pay_status" jdbcType="VARCHAR" property="autoPayStatus" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    buyer_id, account_name, email, password, available_money, depositing_money, withdrawing_money, 
    status, create_by, create_time, last_update_by, last_update_time, account_type, auto_pay_status, 
    currency
  </sql>
  <select id="selectByExample" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from waa_wallet_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waa_wallet_account
    where buyer_id = #{buyerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from waa_wallet_account
    where buyer_id = #{buyerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccountExample">
    delete from waa_wallet_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccount">
    insert into waa_wallet_account (buyer_id, account_name, email, 
      password, available_money, depositing_money, 
      withdrawing_money, status, create_by, 
      create_time, last_update_by, last_update_time, 
      account_type, auto_pay_status, currency
      )
    values (#{buyerId,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{availableMoney,jdbcType=DECIMAL}, #{depositingMoney,jdbcType=DECIMAL}, 
      #{withdrawingMoney,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{accountType,jdbcType=INTEGER}, #{autoPayStatus,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccount">
    insert into waa_wallet_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="availableMoney != null">
        available_money,
      </if>
      <if test="depositingMoney != null">
        depositing_money,
      </if>
      <if test="withdrawingMoney != null">
        withdrawing_money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="autoPayStatus != null">
        auto_pay_status,
      </if>
      <if test="currency != null">
        currency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="availableMoney != null">
        #{availableMoney,jdbcType=DECIMAL},
      </if>
      <if test="depositingMoney != null">
        #{depositingMoney,jdbcType=DECIMAL},
      </if>
      <if test="withdrawingMoney != null">
        #{withdrawingMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="autoPayStatus != null">
        #{autoPayStatus,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccountExample" resultType="java.lang.Long">
    select count(*) from waa_wallet_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update waa_wallet_account
    <set>
      <if test="record.buyerId != null">
        buyer_id = #{record.buyerId,jdbcType=INTEGER},
      </if>
      <if test="record.accountName != null">
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.availableMoney != null">
        available_money = #{record.availableMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.depositingMoney != null">
        depositing_money = #{record.depositingMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.withdrawingMoney != null">
        withdrawing_money = #{record.withdrawingMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null">
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accountType != null">
        account_type = #{record.accountType,jdbcType=INTEGER},
      </if>
      <if test="record.autoPayStatus != null">
        auto_pay_status = #{record.autoPayStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null">
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update waa_wallet_account
    set buyer_id = #{record.buyerId,jdbcType=INTEGER},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      available_money = #{record.availableMoney,jdbcType=DECIMAL},
      depositing_money = #{record.depositingMoney,jdbcType=DECIMAL},
      withdrawing_money = #{record.withdrawingMoney,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=TINYINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      account_type = #{record.accountType,jdbcType=INTEGER},
      auto_pay_status = #{record.autoPayStatus,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccount">
    update waa_wallet_account
    <set>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="availableMoney != null">
        available_money = #{availableMoney,jdbcType=DECIMAL},
      </if>
      <if test="depositingMoney != null">
        depositing_money = #{depositingMoney,jdbcType=DECIMAL},
      </if>
      <if test="withdrawingMoney != null">
        withdrawing_money = #{withdrawingMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="autoPayStatus != null">
        auto_pay_status = #{autoPayStatus,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
    </set>
    where buyer_id = #{buyerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecommerce.mybatis.pojo.WaaWalletAccount">
    update waa_wallet_account
    set account_name = #{accountName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      available_money = #{availableMoney,jdbcType=DECIMAL},
      depositing_money = #{depositingMoney,jdbcType=DECIMAL},
      withdrawing_money = #{withdrawingMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      account_type = #{accountType,jdbcType=INTEGER},
      auto_pay_status = #{autoPayStatus,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR}
    where buyer_id = #{buyerId,jdbcType=INTEGER}
  </update>
  <select id="getIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
    select buyer_id
    from waa_wallet_account
    where account_name = #{accountName,jdbcType=VARCHAR}
  </select>
</mapper>